.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.pagination button:hover{
    opacity: 0.8;
}

.pokemons {
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.normal {
    background-color: #B8B9AA;
    
}

.poison {
    background-color: #A45E9D;
    
}

.psychic {
    background-color: #FB5FB1;
    
}

.grass {
    background-color: #8BD950;
    
}

.ground {
    background-color: #E9C652;
    
}

.ice {
    background-color: #95F1FE;

}

.fire {
    background-color: #F85742;
    
}

.rock {
    background-color: #CCBC71;
    
}

.dragon {
    background-color: #8875FF;
    
}

.water {
    background-color: #53ADFC;

}

.bug {
    background-color: #C0D21E;
    
}

.dark {
    background-color: #8D6A56;
    
}

.fighting {
    background-color: #AD5444;
    
}

.ghost {
    background-color: #7874D3;

}

.steel {
    background-color: #C1C2D7;
    
}

.flying {
    background-color: #75A4FE;
    
}

.electric {
    background-color: #FFDC3F;
    
}

.fairy {
    background-color: #F8ADFF;
    
}


.pokemon {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 2rem 1rem;
    color: white;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .725rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin: .25rem 0;
    margin-bottom: 0;
    text-transform: capitalize;
}

@media screen and (min-width: 380px) {
    .pokemons {

        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {}